<nav id="navbar">
    <div class="logo">
        <i class="fas fa-film">Filmothèque</i>
    </div>
    <div class="content-link-nav">
        <a href="{{ path ('home') }}" class="link-nav">Accueil</a>
        <a href="{{ path('film_index') }}" class="link-nav">Film</a>
        <a href="{{ path('film_new') }}" class="link-nav">Ajouter un film </a>
        <a href="{{ path('personnage_new') }}" class="link-nav">Ajouter un personnage </a>
    </div>
</nav>