{% extends 'base.html.twig' %}

{% block title %}Modifier un Film{% endblock %}

{% block body %}
    <div class="title-form">
        <h3>Modifier un film</h3>
    </div>

    {{ include('film/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
